[phases.setup]
nixPkgs = ["nodejs_20", "pnpm"]

[phases.install]
cmds = [
  "pnpm install --no-frozen-lockfile"
]

[phases.build]
cmds = [
  "pnpm --filter @nukleohub/web build"
]

[start]
cmd = "pnpm --filter @nukleohub/web start"
